/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BASIC STYLING */
body {
    background: #f4f4f4;
    color: #333;
}

header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin-top: 10px;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 40px;
    text-align: center;
}

.profile-img {
    width: 150px;
    margin: 20px 0;
}

/* PROJECTS */
.project-card {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

/* FORM */
form {
    width: 300px;
    margin: 20px auto;
    text-align: left;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #aaa;
}

form button {
    width: 100%;
    padding: 12px;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #444;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
}
